.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .pokemonSpecs{
        margin: 10px 200px;
        min-height: 150px;
        border: solid brown 1px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}